<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>

<a href="{{ url_for('generator') }}">Generate Cover Letters | </a>
<a href="{{ url_for('logout') }}">Logout</a>

<h1>My Dashboard</h1>
<h3>You are logged in as {{ user.email }}</h3>

<form method="POST">
    <label for="api_key">API Key:</label>
    {% if user.api_key %}
        <input type="password" id="api_key" name="api_key" value="{{ user.api_key }}" readonly>
    {% else %}
        <input type="text" id="api_key" name="api_key" placeholder="Please set up your OpenAI API key">
    {% endif %}
    <input type="submit" value="Update API Key">
</form>

<form method="POST">
    <label for="cv">CV:</label>
    {% if user.cv %}
        <textarea id="cv" name="cv" rows="5" cols="50" maxlength="5000">{{ user.cv }}</textarea>
    {% else %}
        <textarea id="cv" name="cv" rows="5" cols="50" maxlength="5000" placeholder="Your CV goes here"></textarea>
    {% endif %}
    <input type="submit" value="Update CV">
</form>

</body>
</html>