{% extends "base_2.html" %}

{% block title %}
Generator
{% endblock title %}

{% block content %}
    <!-- page content here -->

        <div class="p-3">
            <div class="text-center">
                <h1>Cover Letter Generator</h1>
            </div>
            {#                    <div class="text-center">#}
            {#                        <p>You are logged in as {{ user.email }}</p>#}
            {#                    </div>#}
        </div>

        <br>

        <div class="container-fluid text-center p-2">
            <form action="{{ url_for('generator') }}" method="post" class="text-start">
                <div class="form-outline mx-5">
                    <label for="job_title" class="form-label text-start">Job Title*</label><br>
                    <input type="text" id="job_title" name="job_title" value="{{ job_title if job_title }}" class="form-control" required>
                </div>
                <br>
                <div class="form-outline mx-5">
                    <label for="job_description" class="form-label text-start">Job Description*</label><br>
                    <textarea id="job_description" name="job_description" class="form-control" required>{{ job_description if job_description }}</textarea>
                    <br>
                </div>
                <div class="form-outline mx-5">
                    <label for="employer_name" class="form-label text-start">Employer Name:</label><br>
                    <input type="text" id="employer_name" name="employer_name" value="{{ employer_name if employer_name }}" class="form-control">
                    <br>
                </div>
                <div class="form-outline mx-5">
                    <label for="employer_description" class="form-label text-start">Employer Description:</label><br>
                    <textarea id="employer_description" name="employer_description" class="form-control">{{ employer_description if employer_description }}</textarea>
                    <br>
                </div>
                <div class="form-outline mx-5">
                    <label for="additional_instructions" class="form-label text-start">Additional Instructions:</label><br>
                    <textarea id="additional_instructions" name="additional_instructions" class="form-control">{{ additional_instructions if additional_instructions }}</textarea>
                    <br>
                </div>
                <div class="form-outline mx-5 text-end">
                    <input type="submit" name="generate" value="  Generate  " class="btn btn-primary btn-block my-4">
                    <input type="submit" name="clear" value="Clear Form" class="btn btn-primary btn-block my-4">
                </div>
            </form>
            <div class="form-outline mx-5 mt-3 justify-content-around">
                <h2 class="text-center">Generated Cover Letter:</h2>
                <p>{{ response }}</p>
                <div class="text-end">
                    <form method="POST">
                        <input type="submit" name="download" value="Download" class="btn btn-primary btn-block my-4">
                    </form>
                </div>
            </div>
        </div>
{% endblock content %}