{% extends "base_1.html" %}

{% block title %}
Reset Your Password
{% endblock title %}

{% block content %}
    <!-- page content here -->
        <div class="mb-5 text-center">
            <h4>Reset Password</h4>
        </div>

        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-outline mt-4">
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=20, class="form-control", required=True) }}<br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.confirm_password.label }}<br>
                    {{ form.confirm_password(size=20, class="form-control", required=True) }}<br>
                    {% for error in form.confirm_password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="text-end">{{ form.submit(class="btn btn-primary btn-block my-4") }}</p>
            </div>
        </form>
{% endblock content %}