{% extends "base.html" %}

{% block title %}
Request Password Reset
{% endblock title %}

{% block content %}
    <!-- page content here -->
    <h1>Request Password Reset</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=20) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock content %}