{% extends "base.html" %}

{% block title %}
Reset Your Password
{% endblock title %}

{% block content %}
    <!-- page content here -->
    <title>Reset Password</title>
    </head>
    <body class="bg-dark">
    <h1>Reset Password</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=20) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=20) }}<br>
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock content %}