{% extends "base_1.html" %}

{% block title %}
Request Password Reset
{% endblock title %}

{% block content %}
   <!-- page content here -->
        <div class="mb-5 text-center">
            <h4>Request Password Reset</h4>
        </div>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-outline mt-4">
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=20, class="form-control", required=True) }}<br>
                    {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="text-end">{{ form.submit(class="btn btn-primary btn-block my-4") }}</p>
            </div>
        </form>

{% endblock content %}